<template name="pet">

  <section class="content container center">
   <h2>Seja bem vindo ao Meteor Brasil, {{firstName}}!</h2>
   {{#if showCreateContent}}
   <button class="contentActions">Cancelar Post</button>
   {{else}}
   <button class="contentActions">Criar Post</button>
   {{/if}}
    </section>


{{#if showCreateContent}}
  <section class="content container">
  <article class="createSediArticle">
    <div class="pattern">
        <div class="pattern-body">
          <div class="center">
          <select  id="category" class="select">
            <option value="">Categoria da informação</option>
                <option value="artigo">Artigo</option>
                <option value="videoTutorial">Video Tutorial</option>
          </select>
          </div>
            <input type="text" id="title" autocomplete="off" maxlength="40" placeholder="Título" value="{{titleStore}}"/>
            <input type="text" id="title" autocomplete="off" maxlength="40" placeholder="Descrição" value="{{titleStore}}"/>
            <textarea  id="content" placeholder="Conteúdo (markdown disponível)">{{contentStore}}</textarea>
            <input type="text" id="link" autocomplete="off" placeholder="Link original" value="{{linkStore}}"/>
            {{> createTags}}
        </div>
              <div class="center">
                <button  id="submitPost">Publicar</button>
              </div>
    </div>
  </article>
  </section>
{{/if}}



  <section class="content container">
    <h2 class="center">Seus artigos</h2>
      {{#ifAny list}}
            <section>
                <div class="containerPosts center">
                  {{#each list}}
                  <div class="one two four">
                    <div class="service smooth">
                      <img  src="images/services/{{itemName}}.svg" alt="{{title}}">
                      <h5>{{tags}}</h5>
                      <p>{{content}}</p>
                       <p class="date">{{creator}}</p>
                      <p class="views">{{openCount}} views</p>
                    </div>
                  </div>
                  {{/each}}
                </div>
            </section>
            {{else}}
              <h3 class="notfound">Nothing</h3>
            {{/ifAny}}


</template>
