<template name="admin">

  <section class="content container center">
   <h2>Seja bem vindo ao Meteor Brasil, {{firstName}}!</h2>
   {{#if showCreateContent}}
   <button class="contentActions">Cancelar Post</button>
   {{else}}
   <button class="contentActions">Criar Post</button>
   {{/if}}
    </section>


{{#if showCreateContent}}
  <section class="content container">
    <div class="center">
    <select  id="category" class="select">
      <option value="">Categoria da informação</option>
          <option value="artigo">Artigo</option>
          <option value="videoTutorial">Video Tutorial</option>
    </select>
    </div>
  <article class="createSediArticle">
    <div class="pattern">

            <input type="text" id="title" autocomplete="off" maxlength="40" placeholder="Título" value="{{titleStore}}"/>
            <input type="text" id="description" autocomplete="off" maxlength="80" placeholder="Descrição" value="{{descriptionStore}}"/>
            <input type="text" id="link" autocomplete="off" placeholder="Link original" value="{{linkStore}}"/>

            {{#constant}}
            <div id="content" contenteditable="true" placeholder="Conteúdo (Markdown disponível)">{{{contentStore}}}</div>
            {{/constant}}
            {{> createTags}}
        </div>
  </article>
  <div class="center">
    <button  id="submitPost">Publicar</button>
  </div>
  </section>
{{/if}}
{{>artigos}}
</template>

<template name="createTags">
<div class="itemTags">
     {{#each listTags}}
       <div class="tag">
         <div id="nameTag">{{tag}}</div>
         <div class="remove">x</div>
       </div>
     {{/each}}
     {{#if showTag}}
       <div class="tag">
         <input type="text" id="createTag" value=""/>
       </div>
     {{else}}
       <button class="tag" id="addTag">
         + tag
       </button>
     {{/if}}
</div>
</template>

<template name="artigos">
  <section class="content container">
    <h2 class="center">Seus artigos</h2>
      {{#ifAny list}}
            <section>
                <div class="containerPosts center">
                  {{#each list}}
                  <div class="one two four">
                    <div class="service smooth">
                      <img  src="images/services/{{itemName}}.jpg" alt="{{title}}">
                      <h5>{{tags}}</h5>
                      <p>{{#markdown}}{{{des}}}{{/markdown}}</p>
                       <p class="date">{{creator}}</p>
                      <p class="views">{{openCount}} views</p>
                    </div>
                  </div>
                  {{/each}}
                </div>
            </section>
            {{else}}
              <h3 class="notfound">Nothing</h3>
            {{/ifAny}}

            <li class=''>
            <article class='protip' id='duapqq'>
            <header>
            <span class='views'>
            91.8 k
            </span>
            </header>
            <a href="/p/duapqq?&amp;p=1&amp;q=" class="title hyphenate track x-mode-popup" data-action="view protip" data-from="mini protip">Use a Google Spreadsheet as your JSON backend</a>
            <footer class='cf'>
            <ul class='author'>
            <li class='user'>
            by
            <a href="/martin-n" class="track" data-action="view protip author" data-from="mini protip" title="Authored by: martin-n">martin-n</a>
            </li>
            <li class='team'>
            of
            <a href="/team/centralway" class="track" data-action="view team" data-from="mini protip">Centralway</a>
            </li>
            </ul>
            <ul class='avatars'>
            <li class='user'>
            <a href="/martin-n"><img alt="D38ff2119d6ace825b4c7b64e6f422d8" src="https://secure.gravatar.com/avatar/d38ff2119d6ace825b4c7b64e6f422d8" />
            </a></li>
            <li class='team'>
            <a href="/team/centralway"><img alt="Centralway-logo-retina-120x120" src="https://coderwall-assets-0.s3.amazonaws.com/uploads/team/avatar/506aaf07eeffe10012000001/Centralway-logo-retina-120x120.png" />
            </a></li>
            </ul>
            <a class='job' href='/team/centralway'></a>
            </footer>
            </article>
            </li>
</template>






